*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  width: 1140px;
  display: flex;
  margin: auto;
  gap: 30px;
}

.result {
  width: 711px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.result__video-container {
  position: relative;
  display: flex;
  margin-bottom: 16px;
  width: 711px;
  height: 386px;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-form {
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-bottom: -4px;
}

.search-form__fieldset-title {
  margin-bottom: 5px;
  color: #fff;
  font-family: Fira Sans Condensed, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.search-form__label {
  width: fit-content;
  vertical-align: middle;
}

.search-form__checkbox-list .search-form__label:hover {
  text-decoration: underline;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  margin-bottom: 2px;
  vertical-align: middle;
  width: 19px;
  height: 19px;
  background-color: transparent;
  border: 1px solid #fff;
  cursor: pointer;
}

input[type="checkbox"]:checked + .search-form__pseudo-checkbox::after {
  display: block;
  content: "";
  margin-top: 1px;
  margin-left: 1px;
  width: 15px;
  height: 15px;
  border: 1px solid #fff;
  background-color: #fff;
}

.title {
  font-family: Oswald, sans-serif;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%; /* 70.5px */
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
  font-family: Oswald, sans-serif;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%; /* 70.5px */
  text-transform: uppercase;
}

.content__details {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.content__details .title {
  margin-bottom: 18px;
}

.content__list {
  position: relative;
  height: 298px;
  overflow: auto;
  scrollbar-width: none;
  margin-left: -1px;
}

.content__list-item {
  padding: 4px 3px 0 3px;
}

.content__list-item:hover {
  text-decoration: underline;
}

.content__list-item:active {
  background-color: #545050;
}

.content__list-item:not(:last-child) {
  margin-bottom: 26px;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: white;
  height: 107px;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card {
  display: grid;
  grid-template-columns: auto 197px;
  align-items: flex-start;
}

.content__video-card-title {
  margin-top: 6px;
  margin-bottom: 3px;
  color: #fff;
  font-family: Oswald, sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 30px */
  text-transform: uppercase;
}

.content__video-card-description {
  line-height: 16.2px; /* 90% */
  appearance: none;
}

.content__video-card-thumbnail {
  height: 103px;
  width: 100%;
  margin-top: 2px;
}

.content__video-card-description-container {
  width: 100%;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

fieldset {
  border: none;
}

button {
  cursor: pointer;
}

button:hover {
  text-decoration: underline;
}

button:active {
  background-color: #545050;
}

button:focus {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__submit-button {
  display: flex;
  width: 194px;
  height: 34px;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  gap: 10px;
  flex-shrink: 0;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  text-align: center;
  font-family: Fira Sans Condensed, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}

.more-button {
  display: flex;
  width: 399px;
  height: 34px;
  margin: 2px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  text-align: center;
  font-family: Fira Sans Condensed, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}

input {
  display: flex;
  width: 225px;
  height: 27px;
  align-items: center;
  gap: 10px;
  border: none;
  color: rgba(255, 255, 255, 0.7);
  font-family: Fira Sans Condensed, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}

input:focus {
  border: 1px solid white;
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
}
